/*  Mobile dropdown menu  */
@media (max-width: 575px){
  /*    NAVIGATION    */
  nav {
    width: 100%;
    position: relative;
    top: 0;
    text-align: right;
  }

  nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 600;
    transform: skewY(4deg);
  }

  nav a:hover {
    transition: .4s;
    background-color: rgba(176, 178, 186, 0.3);
    color: white;
  }

  .navigation{
    width: 100vw;
  }

  .navigation a:not(:nth-child(5)){
    width: 100vw;
    display: none;
  }

  .navigation.mobile{
    width: 100vw;
    display: block;
  }

  .navigation.mobile a:not(:nth-child(5)){
    width: 100vw;
    display: block;
    text-align: center;
    padding: 1.75vh 0;
  }

  .icon{
    position: absolute;
    top: 1.5em;
    right: 1em;
  }

  header{
    padding-top: 10%;
  }
}

@media (min-width: 575px){
  /*    NAVIGATION    */

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: skewY(4deg);
  }

  nav a {
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
    color: #F5F5F5;
    margin: 1vw;
    font-weight: 600;
  }

  nav a:hover {
    transition: .4s;
    background-color: rgba(176, 178, 186, 0.3);
    color: white;
  }

  nav .icon{
   display: none;
  }

  header{
    padding-top: 5%;
  }
}

::selection {
  background-color: #89b8ff;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

header {
  margin-top: -8vh;
  width: 100%;
  padding-bottom: 9%;
  background-image: url("../img/ski3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 128, 0.7);
  transform: skewY(-4deg);
}

header h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}

.header_content h1 {
  font-size: 80px;
  font-weight: 100;
}

.header_content {
  transform: skewY(4deg);
}

/*    MAIN CONTENT    */

#weekactie {
  width: 100%;
  text-align: center;
  transform: skewY(-4deg);
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/ski.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#weekactie article {
  color: white;
  transform: skewY(4deg);
}

#weekactie h2 {
  color: white;
  text-align: center;
  font-weight: 300;
  transform: skewY(4deg);
}

#weekactie h3 {
  line-height: 0em;
  font-weight: 700;
  padding-bottom: 25px;
  font-size: 30px;
  transform: skewY(4deg);
}

#weekactie p {
  line-height: 18px;
  font-weight: 200;
 }

.fa-shopping-cart {color: #096bff;}

strike {color: #096bff;}

#acties{
  width: 100%;
  text-align: center;
  transform: skewY(-4deg);
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #ffffff;
  color: black;
}

#acties h2 {
  text-align: center;
  font-weight: 300;
  transform: skewY(4deg);
}

#acties h3 {
  line-height: 0em;
  font-weight: 700;
  padding-bottom: 25px;
  font-size: 30px;
  transform: skewY(4deg);
}

#acties p {
  line-height: 18px;
  font-weight: 200;
 }

/*    FOOTER    */

footer{
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
