::selection {
  background-color: #89b8ff;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  margin-top: -8vh;
  width: 100%;
  padding-top: 12%;
  padding-bottom: 9%;
  background-image: url("../img/ski2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 128, 0.7);
  transform: skewY(-4deg);
}

header a {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
}


header h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}

.header_content h1 {
  font-size: 80px;
  font-weight: 100;
}

.header_content p {
  font-size: 20px;
  color: #096bff;
  line-height: 0em;
  text-align: center;
  margin-top: -105px;
  font-weight: 200;
  letter-spacing: 43px;
  margin-left: 50px;
}

.header_content {
  transform: skewY(4deg);
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: right;
  padding-top: 20px;
}

nav a {
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  color: #F5F5F5;
  margin: 1vw;
  font-weight: 600;
}

nav a:hover {
  transition: .4s;
  background-color: rgba(176, 178, 186, 0.3);
  color: white;
}


/* ------------------------------------
MAIN CONTENT  */


#top_content {
  width: 100%;
  text-align: center;
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 10px;
  transform: skewY(-4deg);
  background-image: url("../img/running2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

#top_content h4{line-height: 0em;}
#top_content p {line-height: 18px; font-weight: 200;}

#top_content div {
  margin-top: 50px;
}

#top_content article {
  color: white;
  transform: skewY(4deg);
  width: 400px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 50px;
}

.fa-shopping-cart {color: darkblue;}

#display {width: 320px;}

strike {color: #096bff;}

#top_content a {
  border: 2px solid #cc1c4a;
  background-color: #cc1c4a;
  color: white;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
}

#top_content a:hover {
  transition: .7s;
  background-color: #cc2e57;
  border: 2px solid #cc2e57;
}


/*   MIDDLE_CONTENT
------------------------------------*/


#middle_content {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  transform: skewY(-4deg);
  background-color: #f2f2f2;
}

#middle_content h4{line-height: 0em; color: #1a1a1a}
#middle_content p {line-height: 18px; font-weight: 200; color: #1a1a1a}

#middle_content div {
  margin-top: 50px;
}

#middle_content article {
  color: white;
  transform: skewY(4deg);
  width: 390px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 50px;
}

.fa-shopping-cart {color: darkblue;}

#nutrition {width: 320px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

strike {color: #096bff;}

#middle_content a {
  border: 2px solid #cc1c4a;
  background-color: #cc1c4a;
  color: white;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#middle_content a:hover {
  transition: .7s;
  background-color: #cc2e57;
  border: 2px solid #cc2e57;
}


/*   DOWN_CONTENT
------------------------------------*/


#down_content {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

#down_content h4{line-height: 0em; color: #1a1a1a}
#down_content p {line-height: 18px; font-weight: 200; color: #1a1a1a}

#down_content div {
  margin-top: 50px;
}

#down_content article {
  color: white;
  width: 400px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 50px;
}

.fa-shopping-cart {color: darkblue;}

#display {width: 320px;}

strike {color: #096bff;}

#down_content a {
  border: 2px solid #cc1c4a;
  background-color: #cc1c4a;
  color: white;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
}

#down_content a:hover {
  transition: .7s;
  background-color: #cc2e57;
  border: 2px solid #cc2e57;
}

#down_content article #icon {
  color: #cc1c4a;
  margin-right: 5px;
}

#down_content article h4 {
  color: #cc2e57;
}

#down_content article #icon2 {
  background-color: #cc2e57;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  margin: 12px;
}
