/*  Mobile dropdown menu  */
@media (max-width: 575px){
  /*    NAVIGATION    */

  nav {
    width: 100%;
    position: relative ;
    text-align: right;
  }

  nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 600;
    transform: skewY(4deg);
  }

  nav a:hover {
    transition: .4s;
    background-color: rgba(176, 178, 186, 0.3);
    color: white;
  }

  .navigation{
    width: 100vw;
  }

  .navigation a:not(:nth-child(5)){
    width: 100vw;
    display: none;
  }

  .navigation.mobile{
    width: 100vw;
    display: block;
    height: vh;
  }

  .navigation.mobile a:not(:nth-child(5)){
    width: 100vw;
    display: block;
    text-align: center;
    padding: 1.75vh 0;
  }

  .icon{
    position: absolute;
    top: 1.5em;
    right: 1em;
  }
}

@media (min-width: 576px){
  /*    NAVIGATION    */

  nav {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: right;
    padding-top: 20px;
  }

  nav a {
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
    color: #F5F5F5;
    margin: 1vw;
    font-weight: 600;
    transform: skewY(4deg);
  }

  nav a:hover {
    transition: .4s;
    background-color: rgba(176, 178, 186, 0.3);
    color: white;
  }

  nav .icon{
   display: none;
  }
}

::selection {
  background-color: #89b8ff;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  margin-top: -8vh;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  background-image: url("../img/snowboarding.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 128, 0.7);
  transform: skewY(-4deg);
}

header a {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
}


header h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}

.header_content h1 {
  font-size: 110px;
  font-weight: 100;
}

.header_content p {
  font-size: 20px;
  color: #096bff;
  line-height: 0em;
  text-align: center;
  margin-top: -105px;
  font-weight: 200;
  letter-spacing: 43px;
  margin-left: 50px;
}

.header_content {
  transform: skewY(4deg);
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: right;
  padding-top: 20px;
}

nav a {
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  color: #F5F5F5;
  margin: 1vw;
  font-weight: 600;
}

nav a:hover {
  transition: .4s;
  background-color: rgba(176, 178, 186, 0.3);
  color: white;
}


/*    MAIN CONTENT    */

#top_content {
  width: 100%;
  text-align: center;
  transform: skewY(-4deg);
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/ski.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

#top_content article {
  color: white;
  transform: skewY(4deg);
}

#top_content h2 {
  color: white;
  text-align: center;
  font-weight: 300;
  transform: skewY(4deg);
  padding-top: 100px;
}

#top_content h3 {
  line-height: 0em;
  font-weight: 300;
  padding-bottom: 25px;
  font-size: 30px;
}

#top_content h4{line-height: 0em;}
#top_content p {line-height: 18px; font-weight: 200;}
#top_content #price {font-weight: 300; font-size: 30px; line-height: 20px;}

#top_content article {
  margin: 100px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.fa-shopping-cart {color: #096bff;}

#top_content a {
  border: 2px solid #008CBA;
  background-color: #008CBA;
  color: white;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
}

#top_content a:hover {
  transition: .7s;
  background-color: #0080aa;
  border: 2px solid #0080aa;
}

#display {width: 300px;}

strike {color: #096bff;}


/* ------------------------------------
MIDDLE CONTENT  */

#middle_content {
  transform: skewY(-4deg);
  background-image: url("../img/ski2.jpg");
  background-blend-mode: multiply;
  background-color: rgba(76,76,255, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
